ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2C3F50;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #E84C3D;
}




/* CSS From W3 Schools to create responsive webpage */

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.banner img {

    width: 100%;
    height: auto;

}

body {
    text-align: center;
    width: auto;
    background-color: ECF0F1;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgbackground {
    background-color: gray;
    opacity: 0.5;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    width: 25%;



}

#image-container img {
    width: 33.333%;
    height: auto;
}

@media (max-width: 50em) {
    #image-container img {
        width: 50%;
    }
}

@media (max-width: 25em) {
    #image-container img {
        width: 100%;
    }
}